
/* ********************   animation      ************************ */


@keyframes bounce-in {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
  
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  
  @keyframes enlarge {
  
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  
  
  
  
  
  
  
  @keyframes color-change {
    0% {
      color: rgb(247, 44, 44);
    }
  
    25% {
      color: rgb(251, 255, 1);
    }
  
    50% {
      color: rgb(24, 255, 47);
    }
  
    75% {
      color: rgb(12, 254, 250);
    }
  
    100% {
      color: rgb(221, 7, 196);
    }
  }
  
  
  
  
  
  
  
  
  
  @keyframes blink-caret {
  
    from,
    to {
      border-color: transparent
    }
  
    50% {
      border-color: black
    }
  }
  
  
  
  
  @keyframes change-text {
    0% {
      content: "Web Developer.";
    }
  
    50% {
      content: "Student.";
    }
  
    100% {
      content: "Tech-Enthousiast.";
    }
  }
  
  
  
  
  
  
  
  
  
  