* {

  padding: 0%;
  margin: 0%;
}

body {

  font-family: 'Roboto', sans-serif, 'Arial', 'Helvetica Neue', Helvetica, Arial;
  background-color: #0d1117;
}

/* ********************    nav      ************************ */

.nav {

  height: auto;
  background-color: #0d1117;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 2px rgba(212, 0, 255, 0.5),
    0px 2px 4px rgba(212, 0, 255, 0.5),
    0px 4px 8px rgba(212, 0, 255, 0.5),
    0px 8px 16px rgba(212, 0, 255, 0.5);

}

.nav-link {

  color: #f8f9fad1;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;

}

.nav-link:hover {

  color: #f8f9fa;
  background-color: #0d1117;
  box-shadow: 0px 2px 4px rgba(212, 0, 255, 0.3),
    0px 4px 8px rgba(212, 0, 255, 0.3),
    0px 8px 16px rgba(212, 0, 2555, 0.3);
  transition: 0.2s;
  border-radius: 10px;
}

.nav-link:active {

  color: #4777f0a4;
  text-decoration: none;
  font-weight: 800;
  text-decoration: underline;
}



/* ********************   body      ************************ */

.container {

  position: relative;
  height: 90vh;
  width: 100%;
}


.image-container {
  height: 90vh;
  width: 100%;
  position: relative;
}

.image-section {
  height: 100%;
  width: 100%;
}

.img {
  position: relative;
  top: 17%;
  left: 0.1%;
  width: 30%;
  height: 70%;
  animation: enlarge 1.5s ease-in 0.5s;
  z-index: 1;
}

.img-bg {
  position: absolute;
  top: 10%;
  height: 485px;
  width: 13%;
  background: rgb(132, 205, 239);
  z-index: 0;
  padding: 5px;
  border-top-left-radius: 100%;
  animation: bounce-in 1.5s ease-out 0.6s;
}

.img-bg-2 {
  position: absolute;
  top: 10%;
  left: 14.5%;
  height: 485px;
  width: 13%;
  background: rgb(247, 167, 18);
  z-index: 0;
  padding: 11px;
  border-top-right-radius: 100%;
  animation: bounce-in 1.5s ease-out 0.8s;
}


.title {
  position: absolute;
  font-size: 3rem;
  animation: bounce-in 2s ease-out 1s;
  top: 25%;
  left: 45%;
  color: #f8f9fa;
}

.name {
  animation: color-change 5s infinite;
}

.sub-title {
  color: #f8f9fa;
  position: absolute;
  top: 35%;
  right: 15%;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.5s step-end 5s infinite;
  animation: bounce-in 2s ease-out 1.2s;
}

.sub-title::after {
  content: "Web Developer.";
  animation: change-text 5s steps(12, end) 5s infinite;
}

.social-link-background {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 53%;
  top: 60%;
  animation: bounce-in 1.5s ease-out 1.4s;
}

.contant-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgb(247, 167, 18);
  align-items: center;
  text-decoration: none;
  animation: bounce-in 2s ease-out 1.4s;
  margin-right: 60px;
  /* color is set in the index file  */
}

.contant-social-links:hover {
  text-decoration: none;
  transform: scale(1.3);
  background: linear-gradient(45deg, #3498db, #9b59b6, #e74c3c, #f1c40f, #3498db);

}


.resume-btn {
  width: 30%;
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgb(247, 167, 18);
  color: white;
  font-weight: 600;
  animation: bounce-in 1.5s ease-out 1s;
}

.resume-btn::before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;}



@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}














@media (max-width: 768px) {
  
  
 .nav-link {
    font-size: 1rem;
  }
  
  .img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 7%;
  }

  .img-bg,
  .img-bg-2 {
    position: absolute;
    height: 45%;
    width: 40%;
    top: 19.5%;
    z-index: 0;
    animation: bounce-in 1.5s ease-out 0.6s;
  }

  .img-bg-2 {
    left: 53%;
  }

  .img-bg {
    left: 10.5%;
  }

  .title {
    position: absolute;
    font-size: 1.8rem;
    animation: bounce-in 2s ease-out 1s;
    top: 76%;
    left: 5%;
    color: #f8f9fa;
    
  }

  .sub-title {
    color: #f8f9fa;
    position: absolute;
    top: 88%;
    right: 5%;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    animation: blink-caret 0.5s step-end 5s infinite;
    animation: bounce-in 2s ease-out 1.2s;
  }
  
  .resume-btn {
    height: auto;
    width: 90%;
    position: absolute;
    top: 95%;
    left: 5%;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgb(247, 167, 18);
    color: white;
    font-weight: 600;
  }

  .social-link-background {
  visibility: hidden;
  } 
}